.container {
    /*display: flex;*/
    flex-direction: row;
}
.card {
    margin:10px 10px;
    float:left;
    padding:5px;
    width: 30%;
    text-align: center;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.blog-pagination {
    clear: both;
}