<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div class="modal fade" th:fragment="courseUserModal" id="courseUserModal" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Course Detail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img id="courseImg" alt="">
                        <table class="courseDetailTable" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>Course Name:</td>
                                <td><span id="courseName"></span></td>
                            </tr>
                            <tr>
                                <td>Subject Name:</td>
                                <td><span id="courseSubjectName"></span></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td><p id="courseDescription"></td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td><span id="coursePrice"></span></td>
                            </tr>
                            <tr>
                                <td>No. of Lesson:</td>
                                <td><span id="courseLessonTotal"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>