.lesson-img{
    width: 100px;
}
#addLessonButton{
    float: right;
}
.formTable{
    border: none;
    border-collapse: separate;
    border-spacing: 10px 10px;
}

textarea {
    width: 340px;
    height: 200px;
}