.subject-img{
  width: 100px;
}
#addSubjectButton{
    float: right;
}
.formTable{
    border: none;
    border-collapse: separate;
    border-spacing: 10px 10px;
}
.subject-action-button{
    margin: 2px;
}
.subjectTextArea{
    width: 300px;
    height: 300px;
}