body {
    background: url(../img/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.formLink {
     display: block;
     margin-top: 20px;
     color: #fff;
     font-weight: 600;
     text-decoration: underline;
     margin-bottom: 5px;