* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #007bff;
}

.start_button,
.info_box,
.quiz_box,
.result_box
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult
{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
/* start quiz styling */
.start_button button {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding:15px 30px;
}

.info_box {
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    display: flex;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {

    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;

}

.buttons button.restart {
    color:#fff;
    background-color: #007bff;
    border-color: #007bff;
}

.buttons button.restart:hover {
    background-color: #0263ca;
}

.buttons button.quit {
    color: #007bff;
    border-color: #007bff;
}

.buttons button.quit:hover {
    color:#fff;
    background-color: #007bff;
    border-color: #007bff;
}

.quiz_box {
    /* display: none; */
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: #fff;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    width: 45px;
    height: 30px;
    color:#fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
    background-color: #fff;
}

.quiz_box section .que_text {
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list {
    padding: 20px 0;
    display: block;
}

section .option_list .option {
    border: 1px solid #84c5fe;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding:8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    background: aliceblue;
}

.quiz_box section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.quiz_box section .option_list .option:last-child {
    margin-bottom: 0px;
}

.quiz_box section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    pointer-events: none;
}

.option_list .option.correct {
    color: #155724;
    border-color: #19a73a;
    background: #11b437;
}

.option_list .option.incorrect {
    color:#721c24;
    background: #f0505d;
    border-color: #f84658;
}
.option_list .option.disabled{
    pointer-events: none;
}

.quiz_box section .option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.quiz_box section .option_list .option .icon.cross {
    color:#a42834;
    background: #f8d7da;
    border-color: #a42834;
}


.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz_box footer .total_que span {
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 1000;
    padding: 0 5px;
}

footer .next_btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
    background: #0263ca;
}

.result_box {
    background: #fff;
    width: 450px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px 30px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}

.result_box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 1000;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p {
    font-weight: 400;
    padding: 0 4px;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border:none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}