.date22 {
    position: relative;
    background-color: yellow;
    border-radius: 10px 10px 0 0;
    align-content: center;
    text-align: center;
}

#created {
    color: #3ccfcf;
    font-weight: bold;
}

#created :hover {
    color: #FFCD1F;
}
