<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Lesson Management</title>
    <!-- Admin common css -->
    <div th:replace="components/header_footer.html :: admin-common-style">
    </div>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/admin_lesson_page.css}" rel="stylesheet"/>
</head>
<body class="sb-nav-fixed">
<!-- Admin header -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
     th:replace="components/header_footer.html :: admin-header">
</nav>
<!-- -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <!-- Admin side nav -->
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion"
             th:replace="components/header_footer.html :: admin-side-nav">
        </nav>
        <!-- -->
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Lesson</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Lesson Management
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        List Lesson
                        <button id="addLessonButton" type="button" class="btn btn-primary"
                                onclick="showLessonAddModal()">Add Lesson
                        </button>
                    </div>
                    <div class="card-body">
                        <table id="LessonDatatable" style="width:100%;">
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="components/header_footer.html :: admin-footer">
        </footer>
    </div>
</div>
<!-- placeholder for modal -->
<!-- Edit Lesson Modal -->
<!--<div class="modal fade" id="lessonEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"-->
<!--     aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <form id="lessonEditForm" th:object="${lessonEditDTO}"-->
<!--                  th:action="@{/admin/lesson/edit}" method="POST">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="staticBackdropLabel">Lesson Detail</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <img id="editLessonImg"><br>-->
<!--                    <input type="hidden" id="editLessonImgSrc" th:name="imgSrc">-->
<!--                    <input type="hidden" id="editLessonStatusStr" th:name="statusStr" value="">-->
<!--                    <table class="formTable" cellspacing="0" cellpadding="0">-->
<!--                        <tr>-->
<!--                            <td>Id:</td>-->
<!--                            <td><input type="text" id="editLessonId" th:name="id" readonly></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Total no. of Courses:</td>-->
<!--                            <td><input type="text" id="editLessonTotalCourse"-->
<!--                                       th:field="*{totalCourse}" readonly></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Name:</td>-->
<!--                            <td><input type="text" id="editLessonName" th:name="name" required></td>-->
<!--                        </tr>-->
<!--                        <td>Status:</td>-->
<!--                        <td><select id="editLessonStatus" th:name="status">-->
<!--                            <option th:each="status : ${statusMap}" th:value="${status.key}"-->
<!--                                    th:text="${status.value}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        </td>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <input type="submit" class="btn btn-primary" value="Save">-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; End Edit Lesson Modal &ndash;&gt;-->
<!-- Create Lesson Modal -->
<div class="modal fade" id="lessonAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="lessonAddForm" th:object="${lessonAddDTO}"
                  th:action="@{/admin/lesson/add}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Lesson Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="addLessonId" th:name="id" value="0">
                    <input type="hidden" id="addLessonImgSrc" th:name="imgSrc">
                    <input type="hidden" id="addLessonStatusStr" th:name="statusStr" value="">
                    <!--                    <input type="hidden" id="addLessonStatus" th:name="status" value="1">-->
                    <table class="formTable" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" id="addLessonName" th:name="name" required></td>
                        </tr>
                        <tr>
                            <td for="types">Lesson Type:</td>
                            <td><select id="types" name="types">
                                <option value="learn">Learn</option>
                                <option value="quiz">Quiz</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Choose Subjects:</td>
                            <td><select id="sub" name="sub" th:each="s : ${subjectList}">
                                <option value="learn" th:text="${s.name}"></option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Lesson Content:</td>
                            <td><textarea id="addLessonContent" th:name="name" required> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Lesson Status:</td>
                            <td><input type="text" id="addLessonStatus" th:name="name" required></td>
                        </tr>
                        <tr>
                            <td>Lesson Time:</td>
                            <td><input type="text" id="addLessonTime" th:name="name" required></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
End Create Lesson Modal
<!-- Admin common js -->
<th:block th:insert="components/header_footer.html :: admin-common-script">
</th:block>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:src="@{/js/admin_lesson_page.js}"></script>
<!-- -->
</body>
</html>
