<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Change Password</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

        <!-- CSS here -->
        <div th:replace="components/header_footer.html :: common-style"></div>
        <link rel="stylesheet" th:href="@{/css/forgot_password_page.css}">

    </head>
    <body>
        <!-- ? Preloader Start -->
        <div th:replace="components/header_footer.html :: user-preload"></div>
        <!-- Preloader Start-->

        <main class="login-body">
            <!-- Login Admin -->
            <form class="form-default" th:action="@{/account/changePassword}" method="POST">

                <div class="login-form">
                    <!-- logo-login -->
                    <div class="logo-login">
                        <a href="/"><img th:src="@{/img/logo/loader.png}" alt=""></a>
                    </div>
                    <h2>Change Password</h2>
                    <div style="color:red" th:text="${message}"></div>

                    <div class="form-input">
                        <label for="oldpass">Current Password</label>
                        <input type="password" id="oldpass" name="oldpass" placeholder="Current Password">
                    </div>
                    <div class="form-input">
                        <label for="newpass">New Password</label>
                        <input type="password" name="newpass" placeholder="New Password" id="newpass">
                    </div>
                    <div class="form-input">
                        <label for="cfpass">New Confirm Password</label>
                        <input type="password" id="cfpass" name="cfpass" placeholder="Confirm Password" required
                               oninput="checkPasswordMatch(this)">
                    </div>
                    <div class="form-input pt-30">
                        <input type="submit" name="submit" value="Change Password">
                    </div>

                    <!-- Forget Password -->
                    <a href="#" class="forget">Forget Password</a>
                    <!-- Forget Password -->
                    <a href="register.html" class="registration">Registration</a>
                </div>
            </form>
            <!-- /end login form -->
        </main>
        <th:block th:insert="components/header_footer.html :: common-script">
        </th:block>
        <script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#newpass").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }



        </script>
    </body>
</html>
