<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <div th:replace="components/header_footer.html :: common-style"></div>
    <link rel="stylesheet" th:href="@{/css/user_course_detail_modal.css}">
    <link rel="stylesheet" th:href="@{/css/home_page.css}">
    <link rel="stylesheet" th:href="@{/css/create-quiz-package.css}">

</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
<div class="header-area header-transparent" th:replace="components/header_footer.html :: user-header">
</div>
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <!--                                <h1 data-animation="bounceIn" data-delay="0.2s"-->
                                <!--                                    th:text="${subject.get().getName()}"></h1>-->
                                <!-- breadcrumb Start-->
                                <h1 data-animation="bounceIn" data-delay="0.2s">New Quiz Package</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Courses area start -->
    <div class="container mt-5 px-5">
        <div class="mb-4">
            <h2>Create new quiz package</h2> <span>package name with descriptions,multiple quiz(questions)</span>
        </div>
        <form class="row" th:action="@{/practices/create}" method="POST">
            <div class="col-md-4">
                <div class="card card-blue p-3 text-white mb-3"><span>Quiz Package Name</span>
                    <h4 class="mb-0 yellow">
                        <div class="inputbox mt-3"><input type="text" name="packageN" class="form-control"
                                                          required="required">
                            <span>Name, example:CSI101,PRN292,..</span></div>
                    </h4>
                    <span>Description</span>
                    <h4 class="mb-0 yellow">
                        <div class="inputbox mt-3"><input type="text" name="desQ" class="form-control"
                                                          required="required">
                            <span>Describe about quiz package</span></div>
                    </h4>
                    <div class="hightlight">
                        <span>if you want create Terms(questions) go to Practices Detail Page</span></div>
                </div>
            </div>
            <div class="col-md-8" id="contain">
                <div class="mt-4 mb-4 d-flex justify-content-between">
                    <button class="btn btn-success px-3" type="submit"><a>Create Package</a></button>
                </div>
            </div>
        </form>
    </div>
    <!-- Courses area End -->
    <!-- Courses area start -->
    <!--    <div th:replace="components/header_footer.html :: featured-page">-->
    <!--    </div>-->
    <!--    <div th:replace="components/user_course_detail_modal.html :: courseUserModal">-->
    <!--    </div>-->
    <!-- Courses area End -->
    <!-- ? services-area -->
    <div class="services-area services-area2 section-padding40">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon1.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>60+ UX courses</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon2.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Expert instructors</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon3.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Life time access</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="components/header_footer.html :: user-footer">
</footer>
<!-- Scroll Up -->
<div th:insert="components/header_footer.html :: scroll-up">
</div>

<!-- JS here -->
<th:block th:insert="components/header_footer.html :: common-script">
</th:block>
<!-- page-specific js -->
<script th:src="@{/js/home_page.js}"></script>
<script th:src="@{/js/home_page.js}"></script>
<script th:src="@{/js/user_course_detail.js}"></script>
<div th:replace="components/header_footer.html :: common-script"></div>
</body>
</html>