<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

    <!-- CSS here -->
    <div th:replace="components/header_footer.html :: common-style"></div>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/forgot_password_page.css}">
    <link rel="stylesheet" th:href="@{/css/profile_page.css}">

</head>

<body>
<!-- ? Preloader Start -->
<div th:replace="components/header_footer.html :: user-preload"></div>
<!-- Preloader Start -->
<!-- Header Start -->
<div th:replace="components/header_footer.html :: user-header"></div>
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Profile</h1>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Courses area start -->
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3" th:replace="components/header_footer.html :: user-profile">
            </div>
            <div class="profile-info col-md-9">
                <div class="panel">
                    <div class="bio-graph-heading" th:text="${account.introduce}">
                    </div>
                    <form class="form-default" th:action="@{/account/edit-profile}" method="POST"
                          th:object="${registerDTO}">
                        <input type="hidden" name="mail" th:value="${email}"/>
                        <div class="panel-body bio-graph-info">
                            <h1>Bio Graph</h1>
                            <div class="row">
                                <div class="bio-row">
                                    Full Name:
                                    <p><input type="text" name="nameI" th:value="${name}"></p>
                                </div>
                                <div class="bio-row">
                                    Gender:<br>
                                    <input type="radio" th:field="*{gender}" value="0">
                                    Male
                                    <input type="radio" th:field="*{gender}" value="1">
                                    Female
                                </div>
                                <div class="bio-row">
                                    Email:
                                    <p><input type="email" name="emailI" th:value="${email}"></p>
                                </div>
                                <div class="bio-row">
                                    Phone:
                                    <p><input type="text" name="phoneI" th:value="${phone}">
                                    </p>
                                </div>
                                <div>
                                    <input type="submit" name="submit" class="btn btn-outline-success"
                                           value="Save Changes">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <h2><a th:href="@{/user/showRegistration}">
                                        Registration
                                    </a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <h2><a th:href="@{/user/mycourses}">
                                        My Courses
                                    </a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- top subjects End -->
<!-- ? services-area -->
<footer th:replace="components/header_footer.html :: user-footer">
</footer>
<!-- Scroll Up -->
<div th:insert="components/header_footer.html :: scroll-up">
</div>

<th:block th:insert="components/header_footer.html :: common-script">
</th:block>
</body>
</html>
