<!doctype html>
<html class="no-js" lang="zxx">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img1/favicon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css1/test.css}">
    <link rel="stylesheet" th:href="@{/css1/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css1/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css1/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css1/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css1/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css1/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css1/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css1/gijgo.css}">
    <link rel="stylesheet" th:href="@{/css1/animate.css}">
    <link rel="stylesheet" th:href="@{/css1/slicknav.css}">
    <link rel="stylesheet" th:href="@{/css1/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css1/modalsubject.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<style>
    .modal-body {
        height: 200px;
    }

    .modal-body span {
        font-size: large;

    }

    .modal-footer {
        height: 200px;
    }
</style>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/assets/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- header-start -->
<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img th:src="@{/assets/img/logo/logo.png}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="#">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog_details.html">Blog Details</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <!-- Button -->
                                        <li class="button-header margin-left "><a href="#" class="btn">Join</a></li>
                                        <li class="button-header"><a href="login.html" class="btn btn3">Log in</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-end -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Company insights</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- popular_program_area_start  -->
<div class="popular_program_area section__padding program__page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h3>Subject</h3>
                </div>
            </div>
        </div>
        <!--            <div class="row">-->
        <!--                <div class="col-lg-12">-->
        <!--                    <nav class="custom_tabs text-center">-->
        <!--                        <div class="nav" id="nav-tab" role="tablist">-->
        <!--                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Graduate                                </a>-->
        <!--                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Postgraduate </a>-->
        <!--                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">PHD Scholarships</a>-->
        <!--                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">Training</a>-->
        <!--                        </div>-->
        <!--                    </nav>-->
        <!--                </div>-->
        <!--            </div>-->

        <div class="card" th:each="list :${listsubject}">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="font-size:50px;font-weight: bold" th:text="${list.name}"></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" onclick="detailSubjectModal()">Detail</a>
                <!-- th:href="@{/subjectcontroller/subjectdetail(subjectid=${list.id})}"-->
            </div>
        </div>
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1,totalPage)}">
                    <a th:href="@{/subjectcontroller/listsubject(page=${i})}" class="page-link">[[${i}]]</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <!-- popular_program_area_end -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">PRN</h4>
                </div>
                <div class="modal-body">
                    <span> <i class="bi bi-bookmark"></i> Thông tin môn học</span>

                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <div class="learn-modal" style="float: left;font-size: larger;"><i class="bi bi-bookmark"></i>Bạn sẽ
                        học được gì?
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="position: fixed;bottom: 24px;right: 22px;">Close
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>The automated process starts as soon as your clothes go into the machine.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Our solutions</h4>
                                <ul>
                                    <li><a href="#">Design & creatives</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">Architecture</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Design & creatives</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">Architecture</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Design & creatives</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">Architecture</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                        aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>
<script>
    function detailSubjectModal() {
        $('#myModal').modal('show');
    }
</script>

<!-- JS here -->
<script th:src="@{/js1/vendor/modernizr-3.5.0.min.js}"></script>
<script th:src="@{/js1/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js1/popper.min.js}"></script>
<script th:src="@{/js1/bootstrap.min.js}"></script>
<script th:src="@{/js1/owl.carousel.min.js}"></script>
<script th:src="@{/js1/isotope.pkgd.min.js}"></script>
<script th:src="@{/js1/ajax-form.js}"></script>
<script th:src="@{/js1/waypoints.min.js}"></script>
<script th:src="@{/js1/jquery.counterup.min.js}"></script>
<script th:src="@{/js1/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js1/scrollIt.js}"></script>
<script th:src="@{/js1/jquery.scrollUp.min.js}"></script>
<script th:src="@{/js1/wow.min.js}"></script>
<script th:src="@{/js1/nice-select.min.js}"></script>
<script th:src="@{/js1/jquery.slicknav.min.js}"></script>
<script th:src="@{/js1/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js1/plugins.js}"></script>
<script th:src="@{/js1/gijgo.min.js}"></script>
<!--contact js-->
<script th:src="@{/js1/contact.js}"></script>
<script th:src="@{/js1/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js1/jquery.form.js}"></script>
<script th:src="@{/js1/jquery.validate.min.js}"></script>
<script th:src="@{/js1/mail-script.js}"></script>

<script th:src="@{/js1/main.js}"></script>
<!-- JS old-->
<!-- JS here -->
<script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{/js/jquery.slicknav.min.js}"></script>

<!-- Video bg -->
<script th:src="@{/js/jquery.vide.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/animated.headline.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>

<!-- Date Picker -->
<script th:src="@{/js/gijgo.min.js}"></script>
<!-- Nice-select, sticky -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<!-- Progress -->
<script th:src="@{/js/jquery.barfiller.js}"></script>

<!-- counter , waypoint,Hover Direction -->
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/hover-direction-snake.min.js}"></script>

<!-- contact js -->
<script th:src="@{/js/contact.js}"></script>
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/mail-script.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/user_subject_page.js}"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

</body>

</html>