<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login Page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
    <nav>
    <a href="/">Home</a>
    </nav>

    <main role="main" class="container">
        <form th:action="@{/login}" method="post" id="loginForm">
            <div><label> Email: <input type="text" name="username" value=""/> </label></div>
            <div><label> Password: <input type="password" name="password" value=""/> </label></div>
            <div><label> Remember Me?: <input type="checkbox" name="remember-me" ></label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <a href="/forgotPassword">Reset Password</a>
    </main>
<!-- /.container -->

</body>
</html>