<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <div th:replace="components/header_footer.html :: common-style"></div>
    <link rel="stylesheet" th:href="@{/css/practice_list.css}">
    <link rel="stylesheet" th:href="@{/css/practice_detail.css}">
    <link rel="stylesheet" th:href="@{/css/user_course_detail_modal.css}">
    <link rel="stylesheet" th:href="@{/css/home_page.css}">

</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
<div class="header-area header-transparent" th:replace="components/header_footer.html :: user-header">
</div>
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <!--                                <h1 data-animation="bounceIn" data-delay="0.2s"-->
                                <!--                                    th:text="${subject.get().getName()}"></h1>-->
                                <!-- breadcrumb Start-->
                                <nav class="header-area header-transparent"
                                     th:replace="components/header_footer.html :: nav-page">
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- New Package and QuizHistory -->
    <div th:replace="components/header_footer.html :: new-package-quiz-history"></div>
    <!-- End New Package and QuizHistory -->
    <!-- Courses area start -->
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Searching match</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" th:each="qh : ${quizHistory}">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="date22">
                                <p><i th:text="${qh.createdTime.toLocaleString()}"></i></p>
                            </div>
                            <div class="properties__caption">
                                <a th:href="@{/practices/detail(id=${qh.id})}"><h3><b th:text="${qh.name}"></b></h3></a>
                                <p><b th:text="${qh.quizCount}+' Quizs'"></b></p>
                                <p style="text-align: center">Created by <a href="#" id="created"
                                                                            th:text="${qh.accountName}"></a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses area End -->
    <!-- Courses area start -->
    <div th:replace="components/header_footer.html :: featured-page">
    </div>
    <div th:replace="components/user_course_detail_modal.html :: courseUserModal">
    </div>
    <!-- Courses area End -->
    <!-- ? services-area -->
    <div class="services-area services-area2 section-padding40">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon1.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>60+ UX courses</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon2.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Expert instructors</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon3.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Life time access</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="components/header_footer.html :: user-footer">
</footer>
<!-- Scroll Up -->
<div th:insert="components/header_footer.html :: scroll-up">
</div>

<!-- JS here -->
<th:block th:insert="components/header_footer.html :: common-script">
</th:block>
<!-- page-specific js -->
<script th:src="@{/js/home_page.js}"></script>
<script th:src="@{/js/user_course_detail.js}"></script>
<div th:replace="components/header_footer.html :: common-script"></div>
</body>
</html>