<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/practice_detail.css}">
    <link rel="stylesheet" th:href="@{/css/user_course_detail_modal.css}">
    <link rel="stylesheet" th:href="@{/css/home_page.css}">
    <div th:replace="components/header_footer.html :: common-style"></div>

</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
<div class="header-area header-transparent" th:replace="components/header_footer.html :: user-header">
</div>
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <!--                                <h1 data-animation="bounceIn" data-delay="0.2s"-->
                                <!--                                    th:text="${subject.get().getName()}"></h1>-->
                                <!-- breadcrumb Start-->
                                <nav class="header-area header-transparent"
                                     th:replace="components/header_footer.html :: nav-page">
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- LitsAction-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <div class="container">
        <div class="mt-5">
            <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
                <!-- Basic Plan -->
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                            Practice Quiz/New Practice
                        </h4>
<!--                        <div class="text-secondary-d1 text-120">-->
<!--                            <span class="ml-n15 align-text-bottom">$</span><span class="text-180">10</span> / month-->
<!--                        </div>-->
                    </div>

                    <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                        <li>
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span>
                <span class="text-110">Learn By Practices</span>
              </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span class="text-110">
                Remember Faster
            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
                            <span class="text-110">
                Learn with tutor
            </span>
                        </li>
                    </ul>

                    <div class="col-12 col-md-4 text-center">
                        <a href="#" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600">Get Started</a>
                    </div>
                </div>

            </div>


            <div class="d-style bgc-white btn btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow-sm border-2">
                <!-- Pro Plan -->
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
                            Pro Plan
                        </h4>

                        <div class="text-secondary-d2 text-120">
                            <div class="text-danger-m3 text-90 mr-1 ml-n4 pos-rel d-inline-block">
                                $<span class="text-150 deleted-text">30</span>
                                <span>
                    <span class="d-block rotate-45 position-l mt-n475 ml-35 fa-2x text-400 border-l-2 h-5 brc-dark-m1"></span>
                </span>
                            </div>
                            <span class="align-text-bottom">$</span><span class="text-180">20</span> / month
                        </div>
                    </div>

                    <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                        <li>
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span>
                <span class="text-110">Everything in Basic...</span>
              </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span class="text-110">
                Non diam phasellus
            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span class="text-110">
                Tortor mauris
            </span>
                        </li>
                    </ul>

                    <div class="col-12 col-md-4 text-center">
                        <a href="#" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600">Get
                            Started</a>
                    </div>
                </div>

            </div>


            <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">
                <!-- Premium Plan -->
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
                            Premium Plan
                        </h4>

                        <div class="text-secondary-d1 text-120">
                            <span class="ml-n15 align-text-bottom">$</span><span class="text-180">50</span> / month
                        </div>
                    </div>

                    <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                        <li>
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span>
                <span class="text-110">Everything in Pro...</span>
              </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span class="text-110">
                Placerat duis
            </span>
                        </li>

                        <li class="mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <span class="text-110">
                Molestie nunc non
            </span>
                        </li>
                    </ul>

                    <div class="col-12 col-md-4 text-center">
                        <a href="#" class="f-n-hover btn btn-warning btn-raised px-4 py-25 w-75 text-600">Get
                            Started</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- List action end -->

    <!-- Courses area start -->
    <div class="container py-5">
        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Practices Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow" th:each="q : ${questions}">
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h3 class="font-weight-bold text-muted mb-0" th:text="${q.question}"></h3><br>
                                <h3 class="mt-0 font-weight-bold mb-2" th:text="${q.answer}"></h3>
                                <!--                                <div class="d-flex align-items-center justify-content-between mt-1">-->
                                <!--                                    <h6 class="font-weight-bold my-2">₹64,999</h6>-->
                                <!--                                    <ul class="list-inline small">-->
                                <!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
                                <!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
                                <!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
                                <!--                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>-->
                                <!--                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>-->
                                <!--                                    </ul>-->
                                <!--                                </div>-->
                            </div>
                            <!--                            <img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="200"-->
                            <!--                                 class="ml-lg-5 order-1 order-lg-2">-->
                        </div> <!-- End -->
                    </li> <!-- End -->
                </ul> <!-- End -->
            </div>
        </div>
    </div>
    <!-- Courses area start -->
    <div th:replace="components/header_footer.html :: featured-page">
    </div>
    <div th:replace="components/user_course_detail_modal.html :: courseUserModal">
    </div>
    <!-- Courses area End -->
    <!-- ? services-area -->
    <div class="services-area services-area2 section-padding40">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon1.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>60+ UX courses</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon2.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Expert instructors</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img th:src="@{/img/icon/icon3.svg}" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Life time access</h3>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="components/header_footer.html :: user-footer">
</footer>
<!-- Scroll Up -->
<div th:insert="components/header_footer.html :: scroll-up">
</div>

<!-- JS here -->
<th:block th:insert="components/header_footer.html :: common-script">
</th:block>
<!-- page-specific js -->
<div th:replace="components/header_footer.html :: common-script"></div>
<script th:src="@{/js/home_page.js}"></script>
<script th:src="@{/js/user_course_detail.js}"></script>
</body>
</body>
</html>