<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="components/header_footer.html :: admin-common-style">
    </div>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/admin_subject_page.css}" rel="stylesheet"/>
</head>
<body>
<!-- Admin header -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
     th:replace="components/header_footer.html :: admin-header">
</nav>
<!-- -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <!-- Admin side nav -->
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion"
             th:replace="components/header_footer.html :: admin-side-nav">
        </nav>
        <!-- -->
    </div>
    <div id="layoutSidenav_content">

        <main>
            <div class="container-fluid px-4">
                <div class="card mb-4">
                    <form>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 w-100">
                                    <label class="form-label" for="question"><strong>Question</strong></label>
                                    <textarea class="form-control" style="resize: none" rows="10" type="text"
                                              id="question" placeholder="Question" name="question" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="row-cols-1">
                                    <div class="mb-3">
                                        <input type="hidden" name="subjectId" id="subjectId">
                                        <label class="form-label" for="answer"><strong>Answer</strong></label>
                                        <input class="form-control" type="text" id="answer" placeholder="Answer"
                                               name="answer" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div class="mb-3">
                                    <label class="form-label" for="explain"><strong>Explain</strong></label>
                                    <textarea class="form-control" style="resize: none" rows="10" type="text"
                                              id="explain" placeholder="Explain" name="explain" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-cols-1">
                                <div class="mb-3 w-100">
                                    <button class="btn btn-primary btn-sm" onclick="edit()" type="submit">Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>