<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Courses | Education</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" th:src="@{/img/favicon.ico}">

        <!-- CSS here -->
        <div th:replace="components/header_footer.html :: common-style"></div>
    </head>
    <body>
        <!-- ? Preloader Start -->
        <div th:replace="components/header_footer.html :: user-preload"></div>
        <!-- Preloader Start -->
        <!-- Header Start -->
        <div th:replace="components/header_footer.html :: user-header"></div>
        <!-- Header End -->
        <!-- Header End -->
        <main>
            <!--? slider Area Start-->
            <section class="slider-area slider-area2">
                <div class="slider-active">
                    <!-- Single Slider -->
                    <div class="single-slider slider-height2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-11 col-md-12">
                                    <div class="hero__caption hero__caption2">
                                        <h1 data-animation="bounceIn" data-delay="0.2s">Registration</h1>
                                        <!-- breadcrumb Start-->
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                <li class="breadcrumb-item"><a href="#">User Profile</a></li>
                                                <li class="breadcrumb-item"><a href="#">Registration</a></li>
                                            </ol>
                                        </nav>
                                        <!-- breadcrumb End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="shopping-cart">
                <div class="px-4 px-lg-0">
                    <p th:text="${message}"></p>
                    <div class="pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                                    <!-- Shopping cart table -->
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="border-0 bg-light">
                                                        <div class="p-2 px-3 text-uppercase">Course</div>
                                                    </th>
                                                    <th scope="col" class="border-0 bg-light">
                                                        <div class="py-2 text-uppercase">Price</div>
                                                    </th>
                                                    <th scope="col" class="border-0 bg-light">
                                                        <div class="py-2 text-uppercase">Remove</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody th:if="${session.cart.size() != 0}">
                                                <!--                                    <c:forEach items="${list}" var="o">-->
                                                <tr th:each="course: ${session.cart}">
                                                    <th scope="row">
                                                        <input type="hidden" id="courseId" th:value="${course.getId()}"/>
                                                        <div class="p-2">
<!--                                                            <img src="${course.image}" alt="Image" width="70"-->
<!--                                                                 class="img-fluid rounded shadow-sm">-->
                                                            <div class="ml-3 d-inline-block align-middle">
                                                                <h5 class="mb-0"><a href="#"
                                                                                    class="text-dark d-inline-block"
                                                                                    th:text="${course.getCourseName()}"></a></h5>
                                                                <span class="text-muted font-weight-normal font-italic"></span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td class="align-middle" th:text="${course.price}">
                                                        <strong>Price</strong></td>
                                                    <td class="align-middle"><a href="#" class="text-dark">
                                                        <button type="button" class="btn btn-danger" th:onclick="|removeCourse('${course.getId()}')|">Delete</button>
                                                    </a>
                                                    </td>
                                                </tr>
                                                <!--                                    </c:forEach>-->
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End -->
                                </div>
                            </div>

                            <div class="row py-5 p-4 bg-white rounded shadow-sm">
                                <div class="col-lg-6">
                                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                                        Payment
                                    </div>

                                    <div class="p-4" >
                                        <ul class="list-unstyled mb-4">
                                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                    class="text-muted">Total</strong>
                                                <h5 class="font-weight-bold" th:text="${session.total}"></h5>
                                            </li>
                                        </ul>

                                        <a th:href="@{/user/buyCourse}" class="btn btn-dark rounded-pill py-2 btn-block">Buy</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="services-area services-area2 section-padding40">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="single-services mb-30">
                                    <div class="features-icon">
                                        <img th:src="@{/img/icon/icon1.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <h3>60+ UX courses</h3>
                                        <p>The automated process all your website tasks.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="single-services mb-30">
                                    <div class="features-icon">
                                        <img th:src="@{/img/icon/icon2.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <h3>Expert instructors</h3>
                                        <p>The automated process all your website tasks.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="single-services mb-30">
                                    <div class="features-icon">
                                        <img th:src="@{/img/icon/icon3.svg}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <h3>Life time access</h3>
                                        <p>The automated process all your website tasks.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="components/header_footer.html :: user-footer">
        </footer>
        <!-- Scroll Up -->
        <div th:insert="components/header_footer.html :: scroll-up">
        </div>

        <!-- JS here -->
        <th:block th:insert="components/header_footer.html :: common-script">
        </th:block>
        <script>
    function removeCourse(id){
        window.location.replace("/user/delete?id=" + id);
    }
        </script>
    </body>
</html>