<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reset Password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

  <!-- CSS here -->
  <div th:replace="components/header_footer.html :: common-style"></div>

  <link rel="stylesheet" th:href="@{/css/forgot_password_page.css}">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img th:src="@{/img/logo/loder.png}" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start-->


<main class="login-body">
  <!-- Login Admin -->
  <form class="form-default" th:action="@{/account/resetPassword}" method="POST">

    <div class="login-form">
      <!-- logo-login -->

      <h2>Reset Password</h2>
      <div style="color:red" th:text="${message}"></div>
      <input type="hidden" name="token" th:value="${token}" />
      <div class="form-input">
        <label>Password</label>
        <input type="password" placeholder="Password" id="password" name = "password" required oninput="checkPasswordValid(this);">
      </div>
      <div class="form-input">
        <label>Confirm Password</label>
        <input type="password" name="passwordConfirm" placeholder="Confirm Password" required oninput="checkPasswordMatch(this);">
      </div>
      <div class="form-input pt-30">
        <input type="submit" name="submit" value="Reset Password">
      </div>
      <div>
        <!-- Forget Password -->
        <a href="/home" class="formLink">Home</a>
      </div>
    </div>
  </form>
  <!-- /end login form -->
</main>

<th:block th:insert="components/header_footer.html :: common-script">
</th:block>

<script th:src="@{/js/reset_password_page.js}"></script>

</body>
</html>