<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ? Preloader Start -->
<div th:replace="components/header_footer.html :: user-preload"></div>
<!-- Preloader Start -->
<!-- Header Start -->
<div th:replace="components/header_footer.html :: user-header"></div>
<!-- Header End -->

<footer th:replace="components/header_footer.html :: user-footer">
</footer>

<!-- Scroll Up -->
<div th:insert="components/header_footer.html :: scroll-up">
</div>
<!-- JS here -->
<th:block th:insert="components/header_footer.html :: common-script">
</th:block>
<!-- add page-specific js here -->

</body>
</html>